/* body.meazure-disable-select,
body.meazure-disable-select * {
	user-select: none !important;
	cursor: crosshair !important;
}

.ruler-box.selected {
  border-color: #1677ff !important;
  background: rgba(22, 119, 255, 0.2) !important;
}


.ruler-box {
	position: fixed;
	border: 2px solid lime;
	background: rgba(0, 255, 0, 0.1);
	box-sizing: border-box;
	user-select: none;
}

.ruler-label {
	position: absolute;
	top: -20px;
	left: 0;
	color: lime;
	font-size: 12px;
	background: rgba(0, 0, 0, 0.5);
	padding: 2px 4px;
	pointer-events: none;
	user-select: none;
}

.ruler-close {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	color: lime;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
}

.ruler-resize-handle {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 12px;
	height: 12px;
	background: lime;
	cursor: nwse-resize;
}

.meazure-snap-line-horizontal {
	position: fixed;
	left: 0;
	width: 100vw;
	height: 1px;
	background: rgba(0, 255, 0, 0.7);
	z-index: 99998;
	pointer-events: none;
}

.meazure-snap-line-vertical {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 1px;
	background: rgba(0, 255, 0, 0.7);
	z-index: 99998;
	pointer-events: none;
} */
